footer{
    width: 100%;
    text-align: left;
    background-image: linear-gradient(rgba(255, 166, 0, 0.575), rgba(0, 0, 255, 0.747));
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 2px;
    padding: 50px;

}

footer p{
    text-align: right;
    font-size: 1.2rem;
    margin-bottom: 0;
     
}

.footer1{
    color: black;
    text-align: left;
    display: block;
}

.accordion {
    padding-top: 10px;
    padding-bottom: 30px;
}

.footer1 h3{
    color: black;
    font-size: 1.2rem !important;
}

footer .Redes{
    color: black !important;
    text-align: right;
}
.fa-brands{
    color: black;
    font-size: 1.2rem;
}

.fa-brands:hover{
    color: orangered;
    font-size: 1.2rem;
}

