footer{
    width: 100%;
    text-align: left;
    background-image: linear-gradient(rgba(255, 166, 0, 0.575), rgba(0, 0, 255, 0.747));
    color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 2px;
    padding: 50px;

}

footer p{
    text-align: left;
    font-size: .8rem;
     
}

.footer1{

    text-align: left;
    display: block;
}

.accordion {
    padding-top: 10px;
    padding-bottom: 30px;
}

.footer1 h3{
    color: black;
    font-size: 1.9rem;
}