
header{
    background-image: linear-gradient(rgba(0, 0, 255, 0.747), rgba(255, 166, 0, 0.575));
    margin-top: 2px;
    color: blue;
    display: block ;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center ;
    width: 100% ;
   }



   header img {
    width: 600px;
    height: auto;
}
