li{
    display: inline;
    margin: 15px;
    align-items: center;
    }

a{
    font-size: 1.5rem;
    color: blue !important;
    text-decoration: none !important;
         
}

a:hover{
    color: #ff4500 !important;
    transition: 0.3s all !important;
}

ul p{
    text-align: right;
}

.fa-whatsapp{
    font-size: 1.5rem;
    margin-left: 400px;
}