li{
    display: inline;
    margin: 15px;
    align-items: center;
    }

a{
    
    color: blue !important;
    text-decoration: none !important;
         
}

a:hover{
    color: #ff4500 !important;
    transition: 0.3s all !important;
}

ul p{
    text-align: right;
}