
html {
    
    font-size: 62.5%;
    }

body {
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}
 
.main-container {
    display: block;
    width: 100%;
    margin: 0 auto;
   
}

.container {
    display: block;
    float: left;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    max-width: 1198px;
}
header {
    background: #fff;
    width: 100%;
    float: left;
    display: block;
    padding: 20px;
    border-bottom: 2px solid orangered;
 }

h1{
    font-size: 2.2rem;
    padding-bottom: 10px;
    color: rgb(1, 1, 146);
}

h2{
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: rgba(6, 6, 160, 0.808);
}

h3{
    font-size: 1.8rem;
    padding-top: 10px;
    margin-bottom: 10px;
    color: rgba(6, 6, 160, 0.808);
}

h4{
    font-size: 1.8rem;
    padding-top: 10px;
    margin-bottom: 10px;
    color: rgba(6, 6, 160, 0.808);
}

h5 {
    font-size: 1.8rem;
    color: rgba(6, 6, 160, 0.808);
}
p{

    margin-bottom: 10px;
    line-height: 1.4;

}

img{

    max-width: 100%;
    height: auto;
}
.img {

    width: 100%;
    height: auto;
}
}
.img-logo{
    width: 100%;
    height: auto;
}

section {
    background: #fff;
    
    
    width: 100%;
    font-size: 1.5rem;
    padding: 20px;
    
}

section nav{
    display: block;
    float: left;
    width: 30%;
        
}

nav li {
    background-color:rgba(255, 68, 0, 0.651);
    margin: 5px 20px 5px 0;
    padding: 10px;
    font-size: 1.8rem;
}
nav a{
    text-decoration: none;
           
}

nav a:hover{
    color: rgb(1, 1, 146);
}
section article {
    display: block;
    float: left;
    width: 70%;
    }



    footer{
    background-color: rgb(1, 1, 146);
    width: 100%;
    display: block;
    float: left;
    color: white;
    padding: 20px;

}

footer p{
   font-size: 1.5rem;
}

footer small {
    font-size: 80%;
    display: block;
}
@media (max-width: 810px){
    section nav, section article, nav a{
        width: 100%;
        height: auto;
        
    }
    
    @media (min-width: 425px) {
        section nav, section article,  nav a{
            width: 100%;
            height: auto;
            
    }
 }
